---
import Layout from "../layouts/Layout.astro";
---

<Layout title="where">
  <div class="container mx-auto">
    <ol class="">
      <li class="">
        pippip
        <ol>
          <li class="">type:black</li>
          <li class="">type:</li>
        </ol>
      </li>
      <li class="">chutchut</li>
    </ol>
  </div>
</Layout>
<style>
  :where(ol, li) {
    color: red;
  }
  :where(li) {
    color: blue;
  }
</style>
